body {
	background-color: #f2f2f2;
}
.avatar {
	display: inline-block;
	font-size: 18px;
}
.avatar img {
	border-radius: 20px;
	margin: 0 10px 0 0;
	vertical-align: middle;
	width: 40px;
}
.searhRepo {
	border: 1px solid #C1C1C1;
	border-radius: 5px;
	font-size: 20px;
	margin-right: 10px;
	padding: 20px;
	width: 40%;
}
.content {
	font-size: 18px;
}
.clickable {
	cursor: pointer;
}

.loader {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 48px;
  opacity: 0.8;
	text-align: center;
	margin-top: 16px;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
          animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}
